.createPost-container{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1PX SOLID grey;
    padding: 16px;
    align-items: center;
    margin-right: 26px;
    border: 2px solid #e2e2e2 ;
    border-radius: 10px;
}


.input-container{
    display: flex;
    flex: 1;
}

.user-photo{
    margin-right: 10px;
}

.user-photo img{
    height:40px;
    width:40px;
    border-radius:50%;
}

.photo-video{
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    background-color: #FFFFFF;
    padding:6px;
}

.photo-video:hover{
    cursor: pointer;
}
.gallery-icon{
   height: 28px;
   width: 28px;
   margin-right:6px;
}

.createPost-btn{
    background-color: #F0F2F5;
    border:none;
    border-radius: 50px;
    height: 100%;
    padding:18px;
    display: flex;
    align-items: center;
    flex: 1;
    margin-right:2.5rem;
}

.createPost-btn:hover{
    cursor: pointer;
    background-color:#ebebec; ;
}